input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
}
